<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42672807879-pl3qt9vq9av2cr6ivvg5osbo3ud8sfb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42672807879-pl3qt9vq9av2cr6ivvg5osbo3ud8sfb6</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ4yp_R9dIXNW2xyemWkbj5FjG8yUARBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>42672807879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce3</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-6ce19</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-6ce19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42672807879:ios:383c538c2672b7121143e2</string>
</dict>
</plist>